{% if site.valine_comment.enable %}
<div id="comments" style="margin-top:10px;"></div>
<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
<script src='//unpkg.com/valine/dist/Valine.min.js'></script>
<script>
    setTimeout(function(){
        new Valine({
            el: '#comments',
            app_id: '{{ site.valine_comment.leancloud_appid }}',
            app_key: '{{ site.valine_comment.leancloud_appkey }}',
            placeholder:'{{ site.valine_comment.placeholder }}',
            visitor: true
        });
    })
</script>
{% endif %}

